<DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/lr.css' %}">

    </head>
    <body>

       {% if messages %}
            {% for m in messages %}
                <div class="alert {{m.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{m}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        

        <div class="login-form">
            <h2>Register</h2>
            <div class="container">
                <div class="main">
                    <div class="content">
                        <div class="logo">
                            <img src="{% static 'cat.jpeg' %}">Pokie 21
                        </div>
                        <h3>Registration Form</h3>
            <form method="POST" >
            {% csrf_token %}
                    <input name="username" type="text" placeholder="Username" required autofocus>
                    <input name="email" type="email" placeholder="Email" required autofocus>
                    <input name="password" type="password" placeholder="Password" required autofocus>
                    <input name="repassword" type="repassword" placeholder="RePassword" required autofocus>

                    <br>
                    <a href="/login/">
                    <button type="submit" class="btn">Register</button>
                    </a>
                </form>
        
            <p>Already have an account? 
            <a href="/login/">click here</a></p>
        </div>
        <div class="form-img">
            <img src="{% static 'cat.jpeg' %}" alt="" width="300" height="300" >
        </div>
                </div>
            </div>
        </div>
    </body>
    
</html>
